bin/
obj/
.vs/
.vscode/
.idea/
.env
.env.*
!/.env.example
*.user
appsettings.Production.json
secrets.json
src/**/appsettings.Local.json
logs/
*.log
TestResults/
coverage/
coverage-report/
pgdata/
postgres-data/
node_modules/
dist/
build/
